{% extends 'base.html.twig' %}

{% block title %}Prostage{% endblock %}

{% block contenu %}

    {% for formation in formations %}

        <div class="card-deck">

        <div class="card">
            <div class="card-body">
            <a href="{{path('metier_formations_stage',{id:formation.id})}}"><h5 class="card-title">{{formation.nomLong}}</h5></a>
            <p class="card-text">{{formation.nomLong}} | {{formation.nomCourt}} </p>
            </div>
        </div>
        
        <br/>
    {% endfor %}
{% endblock %}